script(src='/bootstrap/js/libs/bootstrap/bootstrap.min.js')
script(src='/bootstrap/js/plugins.js')
script(src='/bootstrap/js/script.js')	
script(src='/jquery/jquery-1.7.2.js')
script(src='http://code.jquery.com/ui/1.8.22/jquery-ui.min.js')
