extends layout

block content

	h1= title
	p Welcome to #{title}

	include login

	script(type='text/javascript')
		function showLogin(){
			$('.backOut').width($(window).width());
			$('.backOut').height($(window).height());
			$('.backOut').fadeTo(500,0.3);
			$('#loginForm').hide();
			var top  = ($(window).scrollTop() + ($(window).height()-$('#loginForm').height())/2);
			var left = ($(window).scrollLeft() + ($(window).width()-$('#loginForm').width())/2);
			$('#loginForm').css('top',top);
			$('#loginForm').css('left',left);
			$('#loginForm').css('z-index',50000);
			$('#loginForm').css('position','absolute');
			$('#loginForm').fadeIn(500);
		}




	

							

