extends layout

block content

	include login

	if (typeof message != 'undefined')
		div.alert.alert-success
			a.close x
			strong Test
			p #{message}

	block script

	script(type='text/javascript')

		// var top;
		// var left;
		// 크롬에서 동작안함.. 와이???
		// function topAndLeft(){
		// 	top  = ($(window).scrollTop() + ($(window).height()-$('#loginForm').height())/2);
		// 	left = ($(window).scrollLeft() + ($(window).width()-$('#loginForm').width())/2);
		// }

		function showLogin(){
			$('.backOut').width($(window).width());
			$('.backOut').height($(window).height());
			$('.backOut').fadeTo(500,0.3);
			$('#loginForm').hide();
			var top  = ($(window).scrollTop() + ($(window).height()-$('#loginForm').height())/2);
			var left = ($(window).scrollLeft() + ($(window).width()-$('#loginForm').width())/2);
			$('#loginForm').css('top',top);
			$('#loginForm').css('left',left);
			$('#loginForm').css('z-index',50000);
			$('#loginForm').css('position','absolute');
			$('#loginForm').fadeIn(500);
			$('#id').focus();
		}

		$(document).keydown(function(event){
			if(event.which=='27'){
				$("#loginForm").fadeOut(300);
				$(".backOut").fadeOut(500);
			}

		});

		$(window).resize(function(){
			$(".backOut").width($(window).width()).height($(window).height());
			var top  = ($(window).scrollTop() + ($(window).height()-$('#loginForm').height())/2);
			var left = ($(window).scrollLeft() + ($(window).width()-$('#loginForm').width())/2);
			$('#loginForm').css('top',top);
			$('#loginForm').css('left',left);
		});

		
		$(function(){
			$('#showLogin').click({
				showLogin();
				$('#userForm').attr('action','/login');
			});
			$('#showReg').click({
				showLogin();
				$('#userForm').attr('action','/register');
			});
		});
		

	

							

