
block contents

	div#loginForm(style='display: none;')
		form(id='userForm', method='post')
			div#usrId:  input(type="text", name="id", id="id", required, placeholder="ID")
			div#usrPw:  input(type="password", name="pw", id="pw", required, placeholder="PASSWORD")
			div#submitBtn: input.btn(id='userFormBtn', type="submit" , value="확인") 

