
block contents

	div#loginForm
		form(method='post', action='/login')
			div#usrId:  input(type="text", name="id", required, placeholder="ID")
			div#usrPw:  input(type="password", name="pw", required, placeholder="PASSWORD")
