
block contents

	div#loginForm(style='display: none;')
		form(method='post', action='/register')
			div#usrId:  input(type="text", name="id", id="id", required, placeholder="ID")
			div#usrPw:  input(type="password", name="pw", id="pw", required, placeholder="PASSWORD")
			div#submitBtn: input.btn(type="submit" , value="Login") 

