br
br
div.container-fluid
	div.row-fluid
		div#bookRoomView.span6
			div(style='float:left')
				form.form-search
					div.input-prepend
						input.input-medium(type='text',id='bookname',name='bookname')
						span.add-on
							i.icon-search
			div.btn-group(style='float:right')
				a.btn
					i.icon-align-center
				a.btn
					i.icon-align-center
				a.btn
					i.icon-align-center
			
			div#bookList
				table.table.table-striped
					thead
						tr
							th Image
							th Title
							th AuthordkR
							th PubDate
							th Price
					tbody
						tr
							td Test
							td Harry Potter
							td J.K Rolling
							td 2004-06-20
							td 10000
		div#search.span6
			div
				form.form-search
					div.input-prepend
						span.add-on
							i.icon-search
						input.input-medium(type='text',id='bookname',name='bookname',style='margin-right:4px') 
					button.btn-small(type='submit') Search
			
			div#searchList
				table.table.table-striped.dragUnit
					thead
						tr
							th Image
							th Title
							th Author
							th PubDate
							th Price
					tbody
						tr
							td Test
							td Harry Potter
							td J.K Rolling
							td 2004-06-20
							td 10000
















	//- div.row
	//- 	div.span2
	//- 		form.form-search
	//- 			div.input-prepend
	//- 				input.input-medium(type='text',id='bookname',name='bookname')
	//- 				span.add-on
	//- 					i.icon-search
	//- 	div.span2.offset2
	//- 		div.btn-group
	//- 			a.btn
	//- 				i.icon-align-center
	//- 			a.btn
	//- 				i.icon-align-center
	//- 			a.btn
	//- 				i.icon-align-center
	//- 	div.span4.offset2
	//- 		div#search
	//- 			form.form-search
	//- 				div.input-prepend
	//- 					span.add-on
	//- 						i.icon-search
	//- 					input.input-medium(type='text',id='bookname',name='bookname',style='margin-right:4px') 
	//- 				button.btn-small(type='submit') Search
	//- div.row
	//- 	div.span6
	//- 		div#bookRoomView
	//- 			table.table.table-striped
	//- 				thead
	//- 					tr
	//- 						th Image
	//- 						th Title
	//- 						th Author
	//- 						th PubDate
	//- 						th Price
	//- 				tbody
	//- 					tr
	//- 						td Test
	//- 						td Harry Potter
	//- 						td J.K Rolling
	//- 						td 2004-06-20
	//- 						td 10000
	//- 	div.span5.offset1
	//- 		div#searchList
	//- 			table.table.table-striped
	//- 				thead
	//- 					tr
	//- 						th Image
	//- 						th Title
	//- 						th Author
	//- 						th PubDate
	//- 						th Price
	//- 				tbody
	//- 					tr
	//- 						td Test
	//- 						td Harry Potter
	//- 						td J.K Rolling
	//- 						td 2004-06-20
	//- 						td 10000
